*{
    margin: 0;
    padding: 0;
    font-family: Orbitron;
}
body{
    background-image: url(../img/bg-zika.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    overflow: hidden;
    width: 100vw;
    height: 100vh;

}
.conteiner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);








    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap:2rem ;
    padding-top:3rem ;
    background-color: rgba(128, 128, 128, 0.437);
    height: 60%;
    width: 90%;
    max-width: 445px;
    border: .1px solid #333;
    border-radius: 30%;
}
.conteiner h1{
    color: blue;
}
.timer{
    display: flex;
    font-weight: bold;
    color:#333;
    font-size: 55px;
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #172953;
    width: 120px;
}
.separator{
   
    padding: 0 10px;
    color: #525763;
}
#miliseconds{
    font-size: 30px;
    color: #525763 ;
}
.buttons{
    margin-top: 50px;
    display: flex;
    gap: 1rem;
}
.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #ccc;
    transition:all 0.2 ease-in-out;
}
.btn:hover{
transform: scale(1.1);
}

#start{
    background-color: #0039be;
    color: #ffff;
}
#pause, #resume{
display: none;
}